* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: "Poppins";
}

/***********NAVBAR***********/
.navbar {
  background-color: #232623ee;
  color: #ffff;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 20px;
  font-size: 18px;
  z-index: 1000;
}
.nav-links {
  display: flex;
  gap: 40px;
  cursor: pointer;
}
main {
  background-color: #161816;
}

/*********PRESENTATION*********/
.align-image,
.title-presentation,
.subtitle-presentation,
.buttons {
  display: flex;
  justify-content: center;
}

.img-woman {
  margin-top: 70px;
  width: 258px;
}
.align-title {
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  border-radius: 30px;
}
.title-presentation {
  color: #ffff;
  text-align: center;
  margin: 20px 0px 0px;
}
.subtitle-presentation {
  color: #ffffff6f;
  text-align: center;
  margin: 30px 0px 0px;
}
.buttons {
  margin: 20px;
  gap: 10px;
}
.btn-linkedin {
  background-color: #ffff;
  color: #000000;
  padding: 10px 30px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
.btn-github {
  background-color: transparent;
  border: 1px solid #ffff;
  color: white;
  padding: 10px 30px;
  border-radius: 30px;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}

/*********EXPERIÊNCIA - STACKS*********/
.stack,
.stack-title {
  display: flex;
  justify-content: center;
}
.stack-title {
  color: #ffffffc1;
  font-weight: 600;
  margin-bottom: 40px;
}
.align-stacks {
  margin-top: 20px;
  padding: 10px;
}

/*********FOOTER*********/
footer {
  background-color: #131413ee;
  display: flex;
  justify-content: center;
}

.contact-content {
  margin: 60px 200px;
  font-size: 16px;
  color: #ffffffc1;
  text-align: justify;
}

.contact {
  font-size: 20px;
  font-weight: 600;
  color: #ffff;
  margin-bottom: 20px;
}

.align-iconemail {
  display: flex;
  height: 22px;
  width: 20px;
  margin-top: 16px;
  gap: 8px;
}
.align-socials {
  margin-top: 30px;
}
